<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>

    <!-- Icon Cards-->
    <app-overview-component></app-overview-component>

    <!-- Area Chart Example-->
    <app-area-chart-component></app-area-chart-component>

    <!-- DataTables Example -->
    <app-data-table-component></app-data-table-component>

</div>