<p-table [columns]="cols" [value]="products" selectionMode="single" [(selection)]="selectedProduct"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-4">
                <button pButton type="button" label="Thêm sản phẩm" icon="pi pi-plus" class="ui-button-info"
                    (click)="showDialogToAdd()"></button>
            </div>
            <div class="ui-g-12 ui-md-4">
                <button pButton type="button" label="Lưu đơn nhập hàng" icon="pi pi-save" class="ui-button-warning"
                    (click)="pushImportedProduct()"></button>
            </div>
            <div class="ui-g-12 ui-md-4">
                <button pButton type="button" label="Làm mới đơn nhập hàng" icon="pi pi-times" class="ui-button-danger"
                    (click)="emptyImportedProduct()"></button>
            </div>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Product Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [closable]="true" [width]="1000">
    <app-insert-or-update-form [product]="product" (save)="save()" (delete)="delete()"></app-insert-or-update-form>
</p-dialog>